APP_NAME="Agendamento SENAI"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Sao_Paulo
APP_URL=http://localhost:8000
APP_LOCALE=pt_BR

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=agendamento
DB_USERNAME=agendamento
DB_PASSWORD=secret

SESSION_DRIVER=cookie
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost
FRONTEND_URL=http://localhost:5173
